// Screen Sizes

$screen-mob-min: 320px;

$screen-tab-min: 768px;

$screen-desk-min: 1024px;

$screen-hd-min: 1440px;

//Colors
$white: #fff;
$black: #000;
$greenLight: #BACCB9;
$green: #727D71;
$greenDark: #363B36;
$purpleLight: #B8B2BD;
$purple: #726E75;
$purpleDark: #3F3D41;
$blueLight: #B2CBE8;
$blue: #6E7986;
$blueDark: #30353B;
$yellowLight: #F2B876;
$yellow: #CE9D65;
$yellowDark: #9E784D;
$brownLight: #FFEEEA;
$brown: #948B89;
$brownDark: #686261;
$orangeLight: #D0742B;
$orange: #7A4419;
$orangeDark: #3B210C;