#camping{
    >div{
        #camping-title{
            margin-top: 48px;

            @include tab{
                margin-top: 56px;
                margin-bottom: 16px;
            }
            @include desk{
                margin-top: 64px;
                margin-bottom: 34px;
            }
            @include hd{
                margin-top: 80px;
                margin-bottom: 54px;
            }
            >article{
                display: flex;

                #hdiv-1{
                    border-right: 31px solid transparent;
                    border-bottom: 31px solid $purpleDark;
                    width: 42px;

                    @include tab{
                        border-right: 52px solid transparent;
                        border-bottom: 52px solid $purpleDark;
                        width: 88px;
                    }
                    @include desk{
                        border-right: 69px solid transparent;
                        border-bottom: 69px solid $purpleDark;
                        width: 170px;
                    }
                }
                #hdiv-2{
                    border-right: 31px solid transparent;
                    border-bottom: 31px solid $purple;
                    width: 60px;
                    margin-left: -33px;
                    z-index: -1;
                    position: relative;

                    @include tab{
                        border-right: 52px solid transparent;
                        border-bottom: 52px solid $purple;
                        margin-left: -52px;
                        width: 150px;
                    }
                    @include desk{
                        border-right: 69px solid transparent;
                        border-bottom: 69px solid $purple;
                        margin-left: -69px;
                        width: 232px;
                    }
                }
                #hdiv-3{
                    border-right: 31px solid transparent;
                    border-bottom: 31px solid $purpleLight;
                    width: 242px;
                    margin-left: -33px;
                    z-index: -2;
                    position: relative;

                    @include tab{
                        border-right: 52px solid transparent;
                        border-bottom: 52px solid $purpleLight;
                        margin-left: -52px;
                        width: 340px;
                    }
                    @include desk{
                        border-right: 69px solid transparent;
                        border-bottom: 69px solid $purpleLight;
                        margin-left: -69px;
                        width: 412px;
                    }
                }
                #hdiv-4{
                    border-left: 31px solid transparent;
                    border-top: 31px solid $purpleDark;
                    width: 25%;
                    margin-left: auto;

                    @include tab{
                        border-left: 52px solid transparent;
                        border-top: 52px solid $purple;
                    }
                    @include desk{
                        border-left: 69px solid transparent;
                        border-top: 69px solid $purple;
                    }
                }
            }
            >h1{
                margin-left: 155px;
                margin-top: -27px;

                @include tab{
                    margin-left: 315px;
                    margin-top: -37px;
                }
                @include desk{
                    margin-left: 470px;
                    margin-top: -51px;
                }
            }
        }
        #camping-hero{
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". camping-hero .";
            margin-top: 16px;
            margin-bottom: 48px;

            @include tab{
                margin-bottom: 56px;
            }
            @include desk{
                margin-top: 24x;
                margin-bottom: 64px;
            }
            @include hd{
                margin-top: 32px;
                margin-bottom: 80px;
            }

            >div{
                background-image: url("../img/Camping/camping-hero.jpg");
                background-position: center;
                background-size: cover;
                height: 190px;
                grid-area: camping-hero;

                @include tab{
                    height: 447px;
                }
                @include desk{
                    height: 558px;
                }
                @include hd{
                    height: 635px;
                }
            }
        }
        >article{
            @include hd{
                display: grid;
                grid-template-columns: auto 1420px auto;
                grid-template-areas: ". camping-intro ."
                                     ". camping-content .";
            }
            #camping-intro{
                margin: 0px 10px;
    
                @include tab{
                    display: grid;
                    grid-template-columns: 35% auto;
                    grid-template-areas: "backcountry img-c1";
                    margin-left: 118px;
                    column-gap: 20px;
                }
                @include desk{
                    grid-template-areas: "backcountry img-c1"
                                         "vid-c1 img-c1";
                    margin-left: 98px;
                }
                @include hd{
                    grid-area: camping-intro;
                }
    
                #backcountry{
                    grid-area: backcountry;
    
                    >h3{
                        margin-bottom: 24px;
    
                        @include desk{
                            margin-bottom: 32px;
                        }
                        @include hd{
                            margin-bottom: 48px;
                        }
                    }
                    #para-c1{
                        margin-bottom: 24px;
                    }
                    #para-c2{
                        margin-bottom: 16px;
    
                        @include desk{
                            margin-bottom: 24px;
                        }
                        @include hd{
                            margin-bottom: 32px;
                        }
                    }
                }
                #img-c1{
                    background-image: url("../img/Camping/camping-1.jpg");
                    background-position: bottom;
                    background-size: cover;
                    height: 396px;
                    grid-area: img-c1;
                    margin-bottom: 48px;
    
                    @include tab{
                        margin-bottom: 0px;
                    }
                    @include desk{
                        height: 624px;
                    }
                    @include hd{
                        height: 667px;
                    }
                }
                #camping-video{
                    display: none;
                    background-image: url("../img/Camping/camping-video.jpg");
                    background-position: center;
                    background-size: cover;
    
                    @include desk{
                        display: block;
                        height: 277px;
                        grid-area: vid-c1;
                    }
                    @include hd{
                        height: 345px;
                    }
                }
            }
            #camping-content{
                margin: 0px 10px;
    
                @include tab{
                    display: grid;
                    grid-template-columns: 60% auto;
                    grid-template-areas: "camping-list aside-c2";
                    margin: 56px 0px 32px 118px;
                    column-gap: 20px;
                }
                @include desk{
                    grid-template-areas: "camping-list aside-c1"
                                         "aside-c2 aside-c2";
                    margin: 64px 0px 32px 98px;
                }
                @include hd{
                    grid-template-columns: 35% auto;
                    grid-template-areas: "aside-c1 camping-list"
                                         ". aside-c2";
                    margin: 80px 0px 56px 0px;
                    grid-area: camping-content;
                }
    
                #aside-c1{
                    display: none;
    
                    @include desk{
                        display: block;
                        margin-right: 10px;
                    }
                    @include hd{
                        margin-right: 0px;
                    }
    
                    >h2{
                        color: $brownLight;
    
                        @include desk{
                            background-color: $orange;
                            margin-right: 57px;
                            padding: 32px 86px 517px;
                        }
                        @include hd{
                            margin-left: 10px;
                        }
                    }
                    >div{
                        background-image: url("../img/Camping/camping-weather.jpg");
                        background-position: left center;
                        background-size: cover;
    
                        @include desk{
                            height: 595px;
                            margin-left: 86px;
                            margin-top: -495px;
                        }
                    }
                }
                >ul{
    
                    @include tab{
                        grid-area: camping-list;
                    }
    
                    >li{
                        margin-bottom: 16px;
    
                        @include tab{
                            margin-bottom: 24px;
                        }
                        @include desk{
                            margin-bottom: 32px;
                        }
                        @include hd{
                            margin-bottom: 48px;
                        }
                        >h3{
                            margin-bottom: 16px;
    
                            @include tab{
                                margin-bottom: 24px;
                            }
                            @include desk{
                                margin-bottom: 32px;
                            }
                            @include hd{
                                margin-bottom: 48px;
                            }
                        }
                        >p{
    
                        }
                    }
                }
                #aside-c2{
    
                    background-color: $orangeDark;
                    margin-top: 32px;
                    margin-bottom: 48px;
    
                    @include tab{
                        grid-area: aside-c2;
                        margin-top: 0px;
                    }
                    @include desk{
                        margin-top: 40px;
                        margin-left: 127px;
                        background-color: transparent;
                    }
                    @include hd{
                        margin-left: 0px;
                    }
    
                    #camping-info{
                        display: grid;
                        grid-template-columns: 100%;
                        padding: 24px 16px 0px;
    
                        @include tab{
                            padding: 24px 39px 0px;
                        }
                        @include desk{
                            grid-area: camping-info;
                            background-color: $orangeDark;
                        }
    
                        >h2{
                            color: $brownLight;
                            margin-bottom: 24px;
                        }
                        >a{
                            color: $brownLight;
                            text-decoration: none;
                            font-size: rem-calc(16);
                            font-weight: 400;
                            font-family: 'Raleway', sans-serif;
                            margin-bottom: 16px;
    
                            @include desk{
                                font-size: rem-calc(18);
                                margin-bottom: 24px;
                            }
                            @include hd{
                                margin-bottom: 32px;
                            }
                        }
                    }
                    #img-c2{
                        background-image: url("../img/Camping/camping-2.jpg");
                        background-position: center;
                        background-size: cover;
                        display: none;
    
                        @include tab{
                            display: block;
                            height: 246px;
                        }
                        @include desk{
                            height: 363px;
                            grid-area: img-c2;
                            margin: -173px 97px 0px 450px;
                        }
                        @include hd{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        #map{
            display: none;
            
            @include desk{
                display: list-item;
            }
            >h3{

                @include desk{
                    margin-left: 222px;
                }
                @include hd{
                    margin-left: 216px; 
                }
            }
            >div{
                background-image: url("../img/Camping/camping-map.jpg");
                background-position: center;
                background-size: cover;

                @include desk{
                    height: 706px;
                    margin: 64px 0px;
                }
                @include hd{
                    height: 879px;
                    margin: 80px 0px;
                }
            }
        }
        #break-img4{
            >div{
                background-image: url("../img/Camping/break-img4.jpg");
                background-position: top;
                background-size: cover;
                width: 100%;
                height: 138px;
                margin-bottom: 48px;

                @include tab{
                    margin-bottom: 56px;
                }
                @include desk{
                    height: 198px;
                    margin-bottom: 64px;
                }
                @include hd{
                    height: 243px;
                    margin-bottom: 80px;
                }
            }
        }
    }
}