#hero{
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "h2 h3 h4";

        @include desk{
            grid-template-columns: repeat(5, 1fr);
            grid-template-areas: "h1 h2 h3 h4 h5";
        }

        li{
            background-position: center;
			background-size: cover;
        }
    }

    >div{
        button{
            i{

            }
        }
    }

    .side-2{
        display: none;

        @include desk{
            display: list-item;
            height: 442px;
        }

        @include hd{
            height: 422px;
        }
    }
    .side-1{
        height: 177px;

        @include tab{
            height: 442px;
        }

        @include desk{
            height: 442px;
        }
        @include hd{
            height: 422px;
        }
    }

    #hero-left2{
        background-image: url("../img/Hero/hero-left2.jpg");
        grid-area: h1;
    }
    #hero-left1{
        background-image: url("../img/Hero/hero-left1.jpg");
        grid-area: h2;
    }
    #hero-mid{
        background-image: url("../img/Hero/hero-mid.jpg");
        grid-area: h3;
        height: 257px;

        @include tab{
            height: 641px;
        }
        @include hd{
            height: 918px;
        }
    }
    #hero-right1{
        background-image: url("../img/Hero/hero-right1.jpg");
        grid-area: h4;
    }
    #hero-right2{
        background-image: url("../img/Hero/hero-right2.jpg");
        grid-area: h5;
    }
}