#hero{
    #hero-imgs{
        margin: 48px 10px;

        @include tab{
            margin-top: 56px;
        }
        @include desk{
            margin-top: 64px;
        }
        @include hd{
            margin-top: 80px;
        }
        ul{
            display: grid;
            grid-template-columns: auto 60% auto;
            grid-template-areas: "h2 h3 h4";
    
            @include tab{
                grid-template-columns: auto 54% auto;
            }
            @include desk{
                grid-template-columns: auto auto 36% auto auto;
                grid-template-areas: "h1 h2 h3 h4 h5";
            }
            @include hd{
                grid-template-columns: auto auto 52% auto auto;
            }
    
            li{
                background-position: center;
                background-size: cover;
            }

            #hero-left2{
                background-image: url("../img/Hero/hero-left2.jpg");
                grid-area: h1;

                @include desk{
                    margin-right: 10px;
                }
            }
            #hero-left1{
                background-image: url("../img/Hero/hero-left1.jpg");
                grid-area: h2;

                @include desk{
                    margin-left: 10px;
                }
            }
            #hero-mid{
                background-image: url("../img/Hero/hero-mid.jpg");
                grid-area: h3;
                height: 257px;
                margin: 0px 20px;
        
                @include tab{
                    height: 641px;
                }
                @include hd{
                    height: 918px;
                }
            }
            #hero-right1{
                background-image: url("../img/Hero/hero-right1.jpg");
                grid-area: h4;
                
                @include desk{
                    margin-right: 10px;
                }
            }
            #hero-right2{
                background-image: url("../img/Hero/hero-right2.jpg");
                grid-area: h5;

                @include desk{
                    margin-left: 10px;
                }
            }
        }
    }

    #hero-buttons{
        display: flex; 
        justify-content: center;
        button{
            i{

            }
        }
    }

    .side-2{
        display: none;

        @include desk{
            display: list-item;
            height: 442px;
        }

        @include hd{
            height: 422px;
        }
    }
    .side-1{
        height: 177px;

        @include tab{
            height: 442px;
        }

        @include desk{
            height: 442px;
        }
        @include hd{
            height: 422px;
        }
    }
}