#history{

    >div{

        h1{
            grid-area: history-title;
        }

        img{
            background-position: center;
			background-size: cover;
        }

        #history-title{
            display: grid;
            grid-template-columns: 90px 140px auto;
            grid-template-areas: ". history-title .";

            @include tab{
                grid-template-columns: 215px 170px auto;  
            }

            @include desk{
                grid-template-columns: 370px 200px auto;  
            }

            @include hd{
                grid-template-columns: 410px 200px auto;  
            }
        }

        #article-h1{
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". img-h1 ."
                                 ". para-h1 ."
                                 ". img-h2 .";

            #img-h1{
                background-image: url(.../img/History/history-hero);
                grid-area: img-h1;
            }
            p{
                grid-area: para-h1;

                #para-cut1{
                    display: hidden;
                }
            }
            #img-h2{
                background-image: url(.../img/History/history-1);
                grid-area: img-h2;
            }
            aside{
                display: none;
            }
        }

        #article-h2{
            display: none;

            p{
                #para-cut2{

                }
            }
            #img-h3{
                
            }
        }
    }
}