#history{
    #history-main{
        #history-title{
            h1{

            }
        }
        #history-hero{
            div{
                background-image: url(.../img/Hisotry/history-hero.jpg);
                background-position: center;
                background-size: cover;
            }
        }
        #history-content{
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-columns: ". article-h1 .";

            @include hd{
                grid-template-columns: 101px auto 101px;
                grid-template-areas: ". article-h1 ."
                                     ". article-h2 .";
                grid-template-rows: 585px 265px;
            }

            #article-h1{
                display: grid;
                grid-area: article-h1;
                grid-template-columns: 100%;
                grid-template-areas: "para-h1"
                                     "img-h1";

                @include tab{
                    grid-template-columns: 50% auto;
                    grid-template-areas: "para-h1 img-h1";
                }
                @include desk{
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "para-h1 img-h1 aside-h1";
                }
                #para-h1{
                    grid-area: para-h1;
                    div{
                        display: none;
                    }
                }
                >div{
                    //background-image: url(.../img/Hisotry/history-1.jpg);
                    //background-position: center;
                    //background-size: cover;
                    grid-area: img-h1;
                }
                aside{
                    grid-area: aside-h1;
                    display: none;

                    @include desk{
                        display: block;
                    }
                    h2{

                    }
                    #para-aside{
                        div{

                        }
                    }
                }
            }
            #article-h2{
                display: none;
                grid-area: article-h2;

                @include desk{
                    display: grid;
                    grid-template-columns: 60% auto;
                    grid-template-areas: "para-h2 img-h2";
                }

                @include desk{
                    display: block;
                }
                #para-h2{
                    grid-area: para-h2;
                    div{
                        @include hd{
                            display: none;
                        }
                    }
                }
                >div{
                    grid-area: img-h2;
                }
            }
        }
    }
    #break-img1{
        >div{

        }
    }
}