#wildlife{
    >div{
        #wildlife-title{
            margin-top: 48px;

            @include tab{
                margin-top: 56px;
                margin-bottom: 16px;
            }
            @include desk{
                margin-top: 64px;
                margin-bottom: 34px;
            }
            @include hd{
                margin-top: 80px;
                margin-bottom: 54px;
            }
            >article{
                display: flex;

                #hdiv-1{
                    border-right: 31px solid transparent;
                    border-bottom: 31px solid $purpleDark;
                    width: 42px;

                    @include tab{
                        border-right: 52px solid transparent;
                        border-bottom: 52px solid $purpleDark;
                        width: 88px;
                    }
                    @include desk{
                        border-right: 69px solid transparent;
                        border-bottom: 69px solid $purpleDark;
                        width: 170px;
                    }
                }
                #hdiv-2{
                    border-right: 31px solid transparent;
                    border-bottom: 31px solid $purple;
                    width: 60px;
                    margin-left: -33px;
                    z-index: -1;
                    position: relative;

                    @include tab{
                        border-right: 52px solid transparent;
                        border-bottom: 52px solid $purple;
                        margin-left: -52px;
                        width: 150px;
                    }
                    @include desk{
                        border-right: 69px solid transparent;
                        border-bottom: 69px solid $purple;
                        margin-left: -69px;
                        width: 232px;
                    }
                }
                #hdiv-3{
                    border-right: 31px solid transparent;
                    border-bottom: 31px solid $purpleLight;
                    width: 242px;
                    margin-left: -33px;
                    z-index: -2;
                    position: relative;

                    @include tab{
                        border-right: 52px solid transparent;
                        border-bottom: 52px solid $purpleLight;
                        margin-left: -52px;
                        width: 340px;
                    }
                    @include desk{
                        border-right: 69px solid transparent;
                        border-bottom: 69px solid $purpleLight;
                        margin-left: -69px;
                        width: 412px;
                    }
                }
                #hdiv-4{
                    border-left: 31px solid transparent;
                    border-top: 31px solid $purpleDark;
                    width: 25%;
                    margin-left: auto;

                    @include tab{
                        border-left: 52px solid transparent;
                        border-top: 52px solid $purple;
                    }
                    @include desk{
                        border-left: 69px solid transparent;
                        border-top: 69px solid $purple;
                    }
                }
            }
            >h1{
                margin-left: 155px;
                margin-top: -27px;

                @include tab{
                    margin-left: 315px;
                    margin-top: -37px;
                }
                @include desk{
                    margin-left: 470px;
                    margin-top: -51px;
                }
            }
        }
        #wildlife-hero{
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". wildlife-hero .";
            margin-top: 16px;
            margin-bottom: 48px;

            @include tab{
                margin-bottom: 56px;
            }
            @include desk{
                margin-top: 24x;
                margin-bottom: 64px;
            }
            @include hd{
                margin-top: 32px;
                margin-bottom: 80px;
            }

            >div{
                background-image: url("../img/Wildlife/wildlife-hero.jpg");
                background-position: center;
                background-size: cover;
                height: 190px;
                grid-area: wildlife-hero;

                @include tab{
                    height: 447px;
                }
                @include desk{
                    height: 558px;
                }
                @include hd{
                    height: 635px;
                }
            }
        }
        #wildlife-content{
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". wildlife-content .";

            @include desk{
                grid-template-columns: auto 832px auto;
            }
            @include hd{
                grid-template-columns: auto 1240px auto;
            }

            >div{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "para-w1 img-w1"
                                     "para-w1 img-w2";
                grid-area: wildlife-content;
    
                @include tab{
                    grid-template-areas: "img-w1 img-w2"
                                         "para-w1 para-w3";
                }
                @include desk{
                    grid-template-areas: "para-w1 img-w1"
                                         "para-w3 img-w1"
                                         "para-w3 img-w2"
                                         'para-w4 para-w4';
                }
                @include hd{
                    grid-template-columns: 45% auto 45%;
                    grid-template-areas: "para-w1 img-w1 img-w1"
                                         "para-w3 img-w1 img-w1"
                                         "para-w4 para-w4 img-w2";
                }

                #img-w1{
                    background-image: url("../img/Wildlife/wildlife-1.jpg");
                    background-size: cover;
                    background-position: center;
                    height: 288px;
                    grid-area: img-w1;
                    margin-bottom: 16px;

                    @include tab{
                        margin-right: 10px;
                    }
                    @include desk{
                        margin: 0px 0px 24px 10px;
                    }
                    @include hd{
                        height: 512px;
                        margin-bottom: 32px;
                    }
                }
                #para-w1{
                    grid-area: para-w1;

                    @include tab{
                        margin-right: 10px;
                    }
                    @include desk{
                        margin-right: 100px;
                    }
                    @include hd{
                        margin-bottom: 32px;
                    }
                }
                #img-w2{
                    background-image: url("../img/Wildlife/wildlife-2.jpg");
                    background-size: cover;
                    background-position: center;
                    height: 288px;
                    grid-area: img-w2;

                    @include tab{
                        margin-bottom: 16px;
                        margin-left: 10px;
                    }
                    @include desk{
                        height: 216px;
                        margin-bottom: 24px;
                    }
                    @include hd{
                        height: 210px;
                        margin-bottom: 0px;
                    }
                }  
                #para-w3{
                    display: none;

                    @include tab{
                        display: block;
                        grid-area: para-w3;
                        margin-left: 10px;
                    }
                    @include desk{
                        margin: 24px 10px 0px 0px;
                    }
                    @include hd{
                        margin-right: 100px;
                        margin-top: -160px;
                    }
                }
                #para-w4{
                    display: none;

                    @include desk{
                        display: block;
                        grid-area: para-w4;
                    }
                    @include hd{
                        margin-right: 10px;
                    }
                }
            }      
        }
        #life-zones{
            display: none;

            @include desk{
                display: block;
            }
            
            #zones-title{
                margin-left: 109px;

                @include tab{
                    margin-left: 153px;
                }
                @include desk{
                    margin-left: 211px;
                }
                @include hd{
                    margin-left: 220px;
                }

                >h3{

                }
            }

            #zone-content{

                @include desk{
                    display: grid;
                    grid-template-columns: 10px auto 10px;
                    grid-template-areas: ". zone-content .";
                    margin: 64px 0px;
                }
                @include hd{
                    grid-template-columns: auto 1420px auto;
                    margin: 80px 0px;
                }
                
                >ul{
                    grid-area: zone-content;
                    
                    >li{

                        @include hd{
                            margin-right: 180px;
                        }
                        
                        >div{
                            background-position: center;
                            background-size: cover;

                            @include desk{
                                height: 131px;
                                margin-right: 60%;
                            }
                            @include hd{
                                height: 161px;
                            }
                        }
                        >article{
                            
                            @include desk{
                                border-left: 59px solid transparent;
                                width: 15%;
                                margin-left: auto;
                                margin-right: 60%;
                                margin-top: -83px;
                            }
                            @include hd{
                                margin-top: -91px;
                            }
                            >h3{
                                margin-top: -41px;
                            }
                        }
                        >section{
                            @include desk{
                                margin: -30px 0px 0px 85px;
                                padding: 80px 85px 24px;
                                z-index: -1;
                                position: relative;
                            }
                            @include hd{
                                margin-right: 90px;
                                padding: 96px 90px 32px;
                            }
                            >p{
                                @include desk{
 
                                }
                            }
                        }
                    }
    
                    #z1{
                        @include desk{
                            margin-bottom: 64px;
                        }
                        @include hd{
                            margin-bottom: 80px;
                        }
                        >div{
                            background-image: url("../img/Wildlife/Zones/montane.jpg");
                        }
                        >article{
                            @include desk{
                                border-top: 59px solid $green;
                            }
                            >h3{
                                @include desk{
                                    color: $brownLight;
                                    margin-right: 40px;
                                    text-align: right;
                                }
                            }
                        }
                        >section{
                            @include desk{
                                background-color: $greenLight;
                            }
                            >p{
                                @include desk{
                                }
                            }
                        }
                    }
                    #z2{
                        @include desk{
                            margin-bottom: 64px;
                        }
                        @include hd{
                            margin: 0px 0px 80px 180px;
                        }
                        >div{
                            background-image: url("../img/Wildlife/Zones/subalpine.jpg");

                            @include desk{
                                margin-right: 0%;
                                margin-left: 60%;
                            }
                        }
                        >article{
                            @include desk{
                                border-top: 59px solid $greenDark;
                                margin-left: 60%;
                                margin-right: 0%;
                                border-left: none;
                                border-right: 59px solid transparent;
                            }
                            >h3{
                                @include desk{
                                    color: $brownLight;
                                    margin-left: 40px;
                                }
                            }
                        }
                        >section{
                            @include desk{
                                background-color: $green;
                                margin: -30px 85px 0px 0px;
                            }
                            @include hd{
                                margin-left: 0px;
                                margin-right: 90px;
                            }
                            >p{
                                @include desk{
                                    color: $brownLight;
                                }
                            }
                        }
                    }
                    #z3{
                        >div{
                            background-image: url("../img/Wildlife/Zones/alpine.jpg");
                        }
                        >article{
                            @include desk{
                                border-top: 59px solid $greenLight;
                            }
                            >h3{
                                @include desk{
                                    margin-right: 40px;
                                    text-align: right;
                                }
                            }
                        }
                        >section{
                            @include desk{
                                background-color: $greenDark;
                            }
                            >p{
                                @include desk{
                                    color: $brownLight;
                                }
                            }
                        }
                    }
                }
            }
        }
        #fauna{

            #fauna-content{
                display: grid;
                grid-template-columns: 10px auto 10px;
                grid-template-areas: ". fauna-content .";

                @include desk{
                    grid-template-columns: none;
                    grid-template-areas: none;
                }
                @include desk{
                    grid-template-columns: 10px auto 10px;
                    grid-template-areas: ". fauna-content .";
                }

                >div{
                    grid-area: fauna-content;

                    @include tab{
                        display: grid;
                        grid-template-columns: 60% auto;
                        grid-template-areas:   "fauna-title ."
                                               "img-f1 img-f1"
                                               "para-f2 aside-f1"
                                               "para-f3 aside-f1"
                                               "img-f2 aside-f1";
                        column-gap: 20px;
                    }
                    @include desk{
                        grid-template-columns: 50% auto;
                        grid-template-areas: "fauna-title img-f1"
                                             "para-f1 img-f1"
                                             "para-f1 aside-f1"
                                             "call-f1 aside-f1"
                                             "para-f2 aside-f1"
                                             "para-f3 aside-f1"
                                             "img-f2 img-f2";
                        column-gap: 108px;
                    }
                    @include hd{
                        grid-template-columns: 70% auto;
                        grid-template-areas: "fauna-title img-f1"
                                             "para-f1 img-f1"
                                             "call-f1 aside-f1"
                                             "para-f2 aside-f1"
                                             "para-f3 aside-f1"
                                             "img-f2 .";
                        column-gap: 20px;
                    }

                    #fauna-title{
                        margin-left: 109px;
        
                        @include tab{
                            margin-left: 153px;
                            grid-area: fauna-title;
                        }
                        @include desk{
                            margin-left: 218px;
                            margin-bottom: 24px;
                        }
                        @include hd{
                            margin-left: 248px;
                            margin-bottom: 32px;
                        }
                        >h3{
        
                        }
                    }

                    #para-f1{
                        display: none;

                        @include desk{
                            display: block;
                            grid-area: para-f1;
                            margin-left: 95px;
                            margin-bottom: 24px;
                        }
                        @include hd{
                            margin-bottom: 32px;
                            margin-left: 90px;
                        }
                    }
                    #img-f1{
                        background-image: url("../img/Wildlife/Fauna/fauna-1.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 364px;
                        grid-area: img-f1;
                        margin: 16px 0px;

                        @include tab{
                            height: 364px;
                        }
                        @include desk{
                            height: 192px;
                            margin: 0px 10px 0px 0px;
                        }
                        @include hd{
                            height: 264px;
                            margin-bottom: 32px;
                            margin-right: 0px;
                        }
                    }
                    #fauna-callout{
                        display: none;

                        @include desk{
                            display: block;
                            grid-area: call-f1;
                            background-color: $orangeDark;
                            color: $brownLight;
                            font-size: rem-calc(24);
                            font-weight: 700;
                            font-style: italic;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 32px 0px;
                        }
                        @include hd{
                            font-size: rem-calc(40);
                            padding: 48px 0px;
                        }
                    }
                    #para-f2{
                        display: none;

                        @include tab{
                            display: block;
                            grid-area: para-f2;
                            margin-bottom: 24px;
                        }
                        @include desk{
                            margin-top: 24px;
                            margin-left: 95px;
                        }
                        @include hd{
                            margin-left: 90px;
                            margin-top: 32px;
                        }
                    }
                    #para-f3{

                        @include tab{
                            grid-area: para-f3;
                            margin-bottom: 16px;
                        }
                        @include desk{
                            margin: 0px 0px 0px 95px;
                        }
                        @include hd{
                            margin-left: 90px;
                            margin-top: -60px;
                            margin-bottom: 80px;
                        }
                    }
                    >aside{
                        grid-area: aside-f1;
                        background-color: $orange;
                        margin: 48px 0px 16px;
                        padding: 24px 24px 50px;

                        @include tab{
                            padding-bottom: 140px;
                            margin: 0px 0px;
                        }
                        @include desk{
                            margin: 24px 0px 0px;
                            padding: 32px 85px 54px;
                        }
                        @include hd{
                            padding: 56px 90px 32px;
                            margin-top: 0px;
                        }

                        >h2{
                            color: $brownLight;
                            margin-bottom: 24px;

                            @include desk{
                                padding-bottom: 32px;
                            }
                            @include hd{
                                padding-bottom: 48px;
                            }
                        }
                        >p{
                            color: $brownLight;
                            padding-bottom: 16px;
                            border-bottom: 8px solid $orangeDark;

                            @include desk{
                                padding-bottom: 24px;
                            }
                            @include hd{
                                border-bottom: none;
                                padding: 0px;
                            }
                        }
                    }
                    #img-f2{
                        background-image: url("../img/Wildlife/Fauna/fauna-2.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 312px;
                        grid-area: img-f2;
                        margin-bottom: 48px;

                        @include tab{
                            height: 215px;
                            margin-bottom: 0px;
                        }
                        @include desk{
                            height: 305px;
                            width: 59%;
                            margin-left: 95px;
                            margin-top: 24px;
                        }
                        @include hd{
                            height: 512px; 
                            width: 100%;
                            margin-left: 0px;
                            padding-right: 95px;
                            margin-top: -100px;
                            z-index: -1;
                            position: relative;
                        }
                    }
                }
            }
        }
        #fauna-list{
            @include tab{
                margin-top: 56px;
            }
            @include desk{
                margin-top: 64px;
            }
            @include hd{
                display: grid;
                grid-template-columns: auto 1400px auto;
                grid-template-areas: ". fauna-list .";
                margin-top: 80px;
                margin-bottom: 16px;
            }
            >ul{

                @include tab{
                    margin-right: 10px;
                }
                @include desk{
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-areas: "f1"
                                         "f2"
                                         "f3"
                                         "f4"
                                         "f5"
                                         "f6"
                                         "f7";
                    margin-right: 0px;
                }
                @include hd{
                    grid-template-columns: 50% auto;
                    grid-template-areas: "f1 ."
                                         "f1 f5"
                                         "f2 f5"
                                         "f2 f6"
                                         "f3 f6"
                                         "f3 f7"
                                         "f4 f7"
                                         "f4 .";
                    row-gap: 16px;
                    column-gap: 20px;
                    grid-area: fauna-list;
                }

                >li{
                    display: grid;
                    grid-template-columns: 75% auto;
                    grid-template-areas: "img-fl box-fl"
                                         "title-fl .";
                    column-gap: 20px;
                    row-gap: 48px;

                    @include tab{
                        grid-template-columns: 45% auto;
                        grid-template-areas: "img-fl para-fl"
                                             "img-fl title-fl";
                        row-gap: 56px;
                        column-gap: 0px;
                    }
                    @include desk{
                        grid-template-columns: 430px auto;
                        grid-template-areas: "img-fl para-fl"
                                             "title-fl .";
                        row-gap: 64px;
                    }

                    >div{
                        background-position: center;
                        background-size: cover;
                        height: 200px;
                        grid-area: img-fl;

                        @include desk{
                            height: 190px;
                        }
                    }
                    .title-fl{
                        grid-area: title-fl;
                        border-right: 44px solid transparent;
                        width: 70%;
                        margin-top: -108px;
                        margin-bottom: 16px;
                            
                        @include tab{
                            width: 50%;
                            border-right: 59px solid transparent;
                            margin-top: -131px;
                        }
                        @include desk{
                            width: 63%;
                        }
                        @include hd{
                            margin-left: 110px;
                        }
                        >h3{ 
                            margin-top: -33px;
                            margin-left: 10px;

                            @include tab{
                                margin-top: -41px;
                                margin-left: 20px;
                            }
                        }
                    }
                    .box-fl{
                        height: 200px;
                        width: 100%;
                        grid-area: box-fl;

                        @include tab{
                            display: none;
                        }
                    }
                    section{

                        @include tab{
                            padding: 16px 96px 0px 20px;
                            z-index: -1;
                            position: relative;
                        }
                        @include desk{
                            margin-top: 30px;
                            margin-left: -430px;
                            padding: 32px 86px 32px 450px;
                        }
                        @include hd{
                            padding: 32px 40px 128px 340px;
                            margin-left: -320px;
                        }
                        p{
                            display: none;
                            grid-area: para-fl;
    
                            @include tab{
                                display: block;
                            }
                            @include desk{
                                padding-bottom: 16px;
                            }
                        }
                    }
                }

                #f1{

                    @include desk{
                        margin-left: 10px;
                        margin-right: 180px;
                    }
                    @include hd{
                        grid-area: f1;
                        margin: 0px;
                    }

                    div{
                        background-image: url("../img/Wildlife/Fauna/grizzly.jpg");

                        @include tab{
                            height: 240px;
                        }
                        @include desk{
                            height: 190px;
                        }
                    }
                    .title-fl{
                        border-top: 44px solid $green;

                        @include tab{
                            border-top: 59px solid $green;
                        }
                        @include desk{
                            margin-top: -94px;
                        }
                        @include hd{
                            margin-top: -196px;
                        }
                        >h3{
                            color: $brownLight;
                        }
                    }
                    .box-fl{
                        background-color: $greenLight;
                    }
                    >section{
                        background-color:$greenLight;

                        @include tab{
                            height: 224px;
                        }
                        @include desk{
                            height: 150px;
                        }
                        >p{
                            @include desk{
                                border-bottom: 8px solid $green;
                            }
                        }
                    }
                }
                #f2{

                    @include desk{
                        margin-left: 180px;
                        margin-right: 10px;
                    }
                    @include hd{
                        grid-area: f2;
                        margin: 0px;
                    }

                    div{
                        background-image: url("../img/Wildlife/Fauna/cougar.jpg");
                        
                        @include tab{
                            height: 221px;
                        }
                        @include desk{
                            height: 190px;
                        }
                    }
                    .title-fl{
                        border-top: 44px solid $greenDark;

                        @include tab{
                            border-top: 59px solid $greenDark;
                        }
                        @include desk{
                            margin-top: -94px;
                        }
                        @include hd{
                            margin-top: -196px;
                        }
                        >h3{
                            color: $brownLight;
                        }
                    }
                    .box-fl{
                        background-color: $green;
                    }
                    >section{
                        background-color:$green;

                        @include tab{
                            height: 205px;
                        }
                        @include desk{
                            height: 150px;
                        }
                        >p{
                            color: $brownLight;

                            @include desk{
                                border-bottom: 8px solid $greenDark;
                            }
                        }
                    }
                }
                #f3{

                    @include desk{
                        margin-left: 95px;
                        margin-right: 95px;
                    }
                    @include hd{
                        grid-area: f3;
                        margin: 0px;
                    }

                    div{
                        background-image: url("../img/Wildlife/Fauna/moose.jpg");

                        @include tab{
                            height: 206px;
                        }
                        @include desk{
                            height: 190px;
                        }
                    }
                    .title-fl{
                        border-top: 44px solid $green;

                        @include tab{
                            border-top: 59px solid $green;
                        }
                        @include desk{
                            margin-top: -94px;
                        }
                        @include hd{
                            margin-top: -196px;
                        }
                        >h3{
                            color: $brownLight;
                        }
                    }
                    .box-fl{
                        background-color: $greenLight;
                    }
                    >section{
                        background-color:$greenLight;

                        @include tab{
                            height: 190px;
                        }
                        @include desk{
                            height: 150px;
                        }
                        >p{
                            @include desk{
                                border-bottom: 8px solid $green;
                            }
                        }
                    }
                }
                #f4{

                    @include desk{
                        margin-left: 180px;
                        margin-right: 10px;
                    }
                    @include hd{
                        grid-area: f4;
                        margin: 0px;
                    }

                    div{
                        background-image: url("../img/Wildlife/Fauna/fox.jpg");

                        @include tab{
                            height: 202px;
                        }
                        @include desk{
                            height: 190px;
                        }
                    }
                    .title-fl{
                        border-top: 44px solid $greenDark;

                        @include tab{
                            border-top: 59px solid $greenDark;
                        }
                        @include desk{
                            margin-top: -94px;
                        }
                        @include hd{
                            margin-top: -196px;
                        }
                        >h3{
                            color: $brownLight;
                        }
                    }
                    .box-fl{
                        background-color: $green;
                    }
                    >section{
                        background-color:$green;

                        @include tab{
                            height: 186px;
                        }
                        @include desk{
                            height: 150px;
                        }
                        >p{
                            color: $brownLight;

                            @include desk{
                                border-bottom: 8px solid $greenDark;
                            }
                        }
                    }
                }
                #f5{
                    display: none;

                    @include desk{
                        display: inherit;
                        margin-left: 10px;
                        margin-right: 180px;
                    }
                    @include hd{
                        grid-area: f5;
                        margin: 0px 0px 0px 0px;
                    }

                    div{
                        background-image: url("../img/Wildlife/Fauna/goat.jpg");
                        
                        @include desk{
                            height: 190px;
                        };
                    }
                    .title-fl{
                        @include desk{
                            border-top: 59px solid $greenLight;
                            margin-top: -94px;
                        }
                        @include hd{
                            margin-top: -196px;
                        }
                        >h3{

                        }
                    }
                    >section{
                        @include desk{
                            background-color:$greenDark;
                            height: 150px;
                        }

                        >p{
                            color: $brownLight;

                            @include desk{
                                border-bottom: 8px solid $greenLight;
                            }
                        }
                    }
                }
                #f6{
                    display: none;

                    @include desk{
                        display: inherit;
                        margin-left: 95px;
                        margin-right: 95px;
                    }
                    @include hd{
                        grid-area: f6;
                        margin: 0px;
                    }

                    div{
                        background-image: url("../img/Wildlife/Fauna/small.jpg");
                    }
                    .title-fl{
                        @include desk{
                            border-top: 59px solid $green;
                            margin-top: -94px;
                        }
                        @include hd{
                            margin-top: -196px;
                        }
                        >h3{
                        color: $brownLight;
                        }   
                    }
                    >section{

                        @include desk{
                            background-color:$greenLight;
                            height: 150px;
                        }
                        >p{
                            @include desk{
                                border-bottom: 8px solid $green;
                            }
                        }
                    }
                }
                #f7{
                    display: none;

                    @include desk{
                        display: inherit;
                        margin-left: 10px;
                        margin-right: 180px;
                    }
                    @include hd{
                        grid-area: f7;
                        margin: 0px;
                    }
                    
                    div{
                        background-image: url("../img/Wildlife/Fauna/wolverine.jpg");
                    }
                    .title-fl{
                        @include desk{
                            border-top: 59px solid $greenLight;
                            margin-top: -94px;
                        }
                        @include hd{
                            margin-top: -196px;
                        }
                        >h3{

                        }
                    }
                    >section{
                        @include desk{
                            background-color:$greenDark;   
                            height: 150px;                         
                        }
                        >p{
                            color: $brownLight;

                            @include desk{
                                border-bottom: 8px solid $greenLight;
                            }
                        }
                    }
                }
            }
        }
    }
    #break-img3{
        >div{
            background-image: url("../img/Wildlife/break-img3.jpg");
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 138px;
            margin-bottom: 48px;

            @include tab{
                margin-bottom: 56px;
            }
            @include desk{
                height: 198px;
                margin-bottom: 64x;
            }
            @include hd{
                height: 243px;
                margin-bottom: 80px;
            }
        }
    }
}