#wildlife{
    >div{
        #wildlife-title{
            display: grid;
            grid-template-columns: 114px 92px auto;
            grid-template-areas: ". wildlife-title .";

            @include tab{
                grid-template-columns: 242px 110px auto;
            }
            @include desk{
                grid-template-columns: 393px 129px auto;
            }
            @include desk{
                grid-template-columns: 429px 129px auto;
            }

            >h1{
                grid-area: wildlife-title;
            }
        }
        #wildlife-hero{
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". wildlife-hero .";

            >div{
                background-image: url("../img/Wildlife/wildlife-hero.jpg");
                background-position: center;
                background-size: cover;
                height: 190px;
                grid-area: wildlife-hero;

                @include tab{
                    height: 447px;
                }
                @include desk{
                    height: 558px;
                }
                @include hd{
                    height: 635px;
                }
            }
        }
        #wildlife-content{
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". wildlife-content .";

            @include desk{
                grid-template-columns: auto 832px auto;
            }
            @include hd{
                grid-template-columns: auto 1240px auto;
            }

            >div{
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "article-w1"
                                     "article-w2";
                grid-area: wildlife-content;
    
                @include tab{
                    grid-template-areas: "article-w1 article-w2";
                }
    
                @include desk{
                    grid-template-areas: "article-w1 article-w1"
                                         "article-w2 article-w2";
                }
    
                #article-w1{
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas: "para-w1 img-w1";
                    grid-area: article-w1;

                    @include tab{
                        grid-template-columns: none;
                        grid-template-areas: "img-w1"
                                             "para-w1";
                    }
                    @include desk{
                        display: grid;
                        grid-template-columns: 50% auto;
                        grid-template-areas: "para-w1 img-w1";
                    }
                    @include hd{
                        grid-template-areas: "para-w1 img-w1"
                                             "para-w2 img-w1";
                    }
    
                    >div{
                        background-image: url("../img/Wildlife/wildlife-1.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 288px;
                        grid-area: img-w1;
    
                        @include hd{
                            height: 512px;
                        }
                    }
                    #para-w1{
                        grid-area: para-w1;
                    }
                    #para-w2{
                        display: none;
    
                        @include hd{
                            display: block;
                            grid-area: para-w2;
                        }
                    }
                }
                #article-w2{
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas: ". img-w2";
                    grid-area: article-w2;

                    @include tab{
                        grid-template-columns: none;
                        grid-template-areas: "img-w2"
                                             "para-w3";
                    }
                    @include desk{
                        display: grid;
                        grid-template-columns: 50% auto;
                        grid-template-areas: "para-w3 img-w2"
                                             "para-w4 para-w4";
                    }
                    @include hd{
                        grid-template-columns: 60% auto;
                        grid-template-areas: "para-w4 img-w2";
                    }
    
                    >div{
                        background-image: url("../img/Wildlife/wildlife-2.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 288px;
                        grid-area: img-w2;
    
                        @include desk{
                            height: 216px;
                        }
                        @include hd{
                            height: 210px;
                        }
                    }  
                    #para-w3{
                        display: none;
    
                        @include tab{
                            display: block;
                            grid-area: para-w3;
                        }
                        @include hd{
                            display: none;
                        }
                    }
                    #para-w4{
                        display: none;
    
                        @include desk{
                            display: block;
                            grid-area: para-w4;
                        }
                    }
                }
            }      
        }
        #life-zones{
            display: none;

            @include desk{
                display: block;
            }
            
            #zones-title{
                margin-left: 109px;

                @include tab{
                    margin-left: 153px;
                }
                @include desk{
                    margin-left: 211px;
                }
                @include hd{
                    margin-left: 220px;
                }

                >h3{

                }
            }

            #zone-content{
                display: grid;
                grid-template-columns: 10px auto 10px;
                grid-template-areas: ". zone-content .";

                @include hd{
                    grid-template-columns: auto 1420px auto;
                }
                
                >ul{
                    grid-area: zone-content;
                    
                    >li{
                        display: grid;
                        grid-template-columns: 35% auto;
                        grid-template-areas: "zone-img zone-para";

                        @include hd{
                            grid-template-columns: 40% auto;
                        }
                        
                        >div{
                            background-position: center;
                            background-size: cover;
                            grid-area: zone-img;
                        }
                        >h3{
    
                        }
                        >p{
                            grid-area: zone-para;
                        }
                    }
    
                    #z1{
                        >div{
                            background-image: url("../img/Wildlife/Zones/montane.jpg");
                        }
                    }
                    #z2{
                        display: grid;
                        grid-template-columns: 65% auto;
                        grid-template-areas: "zone-para zone-img ";

                        @include hd{
                            grid-template-columns: 60% auto;
                        }

                        >div{
                            background-image: url("../img/Wildlife/Zones/subalpine.jpg");
                        }
                    }
                    #z3{
                        >div{
                            background-image: url("../img/Wildlife/Zones/alpine.jpg");
                        }
                    }
                }
            }
        }
        #fauna{
            #fauna-title{
                margin-left: 109px;

                @include tab{
                    margin-left: 153px;
                }
                @include desk{
                    margin-left: 218px;
                }
                @include hd{
                    margin-left: 248px;
                }
                >h3{

                }
            }
            #fauna-content{
                display: grid;
                grid-template-columns: 10px auto 10px;
                grid-template-areas: ". fauna-content .";

                >div{
                    grid-area: fauna-content;

                    @include tab{
                        display: grid;
                        grid-template-columns: 60% auto;
                        grid-template-areas: "img-f1 img-f1"
                                               "para-f2 aside-f1"
                                               "para-f3 aside-f1"
                                               "img-f2 aside-f1";
                    }

                    @include desk{
                        grid-template-columns: 60% auto;
                        grid-template-areas: "para-f1 img-f1"
                                             "call-f1 aside-f1"
                                             "para-f2 aside-f1"
                                             "para-f3 aside-f1"
                                             "img-f2 img-f2";
                    }

                    #para-f1{
                        display: none;

                        @include desk{
                            display: block;
                            grid-area: para-f1;
                        }
                    }
                    #img-f1{
                        background-image: url("../img/Wildlife/Fauna/fauna-1.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 364px;
                        grid-area: img-f1;
                    }
                    #fauna-callout{
                        display: none;

                        @include desk{
                            display: block;
                            grid-area: call-f1;
                        }
                    }
                    #para-f2{
                        display: none;

                        @include tab{
                            display: block;
                            grid-area: para-f2;
                        }
                    }
                    #para-f3{

                        @include tab{
                            grid-area: para-f3;
                        }
                    }
                    >aside{
                        display: grid;
                        grid-template-columns: 24px auto 24px;
                        grid-template-areas: ". aside-f1-title ."
                                             ". aside-f1-para .";
                        grid-area: aside-f1;

                        >h2{
                            grid-area: aside-f1-title;
                        }
                        >p{
                            grid-area: aside-f1-para;
                        }
                    }
                    #img-f2{
                        background-image: url("../img/Wildlife/Fauna/fauna-2.jpg");
                        background-size: cover;
                        background-position: center;
                        height: 312px;
                        grid-area: img-f2;
                    }
                }
            }
        }
        #fauna-list{
            >ul{
                >li{
                    >div{

                    }
                    >h3{

                    }
                    >p{

                    }
                }
            }
        }
        #break-img3{
            >div{

            }
        }
    }
}