header{ 
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". header-content .";
    background-color: $orange;

    >div{
        grid-area: header-content;
       
        >div{

        }
        >h1{

        }
        a{
            display: none;

            @include tab{
                display: block;
            }
            
        }
        form{
            button{
                i{

                }
            }
            input{
                
            }
        }
    }
}