#warning{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". warning-content .";
    background-color: $orangeLight;

    @include tab{
        grid-template-columns: auto 708px auto;
    }

    @include desk{
        grid-template-columns: auto 892px auto;
    }

    @include hd{
        grid-template-columns: auto 756px auto;
    }

    div{
        grid-area: warning-content;
        display: flex;

        #left-exclam{
            color: $brownLight;
            font-size: rem-calc(72);
            margin: 38px 0px 30px;

            @include tab{
                margin: 30px 0px;
            }
            @include hd{
                margin: 20px 0px;
            }
        }
        h4{
            margin: 32px 20px;
            color: $brownLight;
            text-align: center;

            @include desk{
                margin: 42px 28px;
            }
            @include desk{
                margin: 45px 38px;
            }
        }
        #right-exclam{
            color: $brownLight;
            font-size: rem-calc(72);
            margin: 38px 0px 30px;

            @include tab{
                margin: 30px 0px;
            }
            @include hd{
                margin: 20px 0px;
            }
        }
    }
}